{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="card about-us">
                    <h4 class="text-uppercase">
                        Welcome to TrainWellPT!
                    </h4>
                    <p>
                        Welcome to our site. We are a suppliment supplier that take pride on quality products 
                        and great pricing. To get yourself started click on the account button at the top,
                        sign up for an account and have full use of our site.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
