{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="my-5 card about-us">
                    <h1 class="text-uppercase">
                        About Us!
                    </h1>
                    <h4>Long-term strategies.</h4>
                    <p>
                        We believe in creating long-term strategies for our clients,
                        so that together we can meet the goals you set yourself in life.
                    </p>
                    <h4>Nourishment.</h4>
                    <p>
                        Our nutrition habits and lifestyles are just as important as 
                        the time we spend in the gym.
                    </p>
                    <h4>Daily fitness programmes</h4>
                    <p>Your coach will use your assessment outcomes and goals to create a personalised 
                        training programmes specifically for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
